#editor {
    margin: 0;
    width: 100%;
    height: 32em;
    margin-top: 5px;
    font-size: 14px;
    border: none;
    min-height: 100px;
    max-height: 400px;
}

/*Compile Button CSS*/

.btn{
    padding: 10px;
    font-size: 20px;
    border-radius: 25px;
    margin: 5px;
    margin-top: 5px;
    float: right;
    cursor: pointer;
    border: none;
}

.btn-sky {
	color: #fff;
	background-color: #449D44;
}

.btn-sky:hover,.btn-sky.active:focus, .btn-sky:focus{
	color: #fff;
	background-color: #449D44;
	outline: none;
}

.btn-sky:active, .btn-sky.active {
	color: #fff;
	background-color: #49aa49;
	outline-offset: none;
	margin-top: 2px;
}

.btn-sky.active:focus{
	color: #fff;
	background-color: #df6a78;
    border: none;
	outline: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
    outline-offset: 0px;
}

/*Compile Button CSS End*/

.ace_gutter {
    min-width: 50px;
}

.ace_scroller {
	margin-left: 5px;
}


/* Output Box */
textarea {
    width: 100%;
    margin-top: 5px;
    min-height: 100px;
    overflow-x: scroll;
    overflow-y: scroll;
}

/*Language Select CSS */
button.btn.dropdown-toggle.btn-default {
    width: 50%;
    margin: 4px 2px 6px 4px;
}

.selectpicker {
    float: right;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    width: 12em;
    height: 5em;
    border-radius: .25em;
    overflow: hidden;
}
.selectpicker option {
    background: #272822;
    color: #fff;
}

img {
    float: left;
    width: 8em;
    height: 5em;
}